<div class="container">
<br/>
  <div class="new-menu">
    <%= render 'form' %>
  </div>
  <ul id="ul_errors"></ul>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Menu Image</th>
        <th>Name</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody id="menu_view">
      <%= render "index" %>
    </tbody>
  </table>
  <div id="add_menu" class="modal fade"></div>
</div>