<script>
$(document).ready(function(){
setTimeout(function() {
  window.location.href = "<%=root_path %>";
}, 5000);
});
</script>


<div class="container">
	<center><br><br>
	<h1>Hey! Your order has been placed successfully...</h1>
	<br><br>
	<img src="assets/success.jpg"><br><br>
	<h5>Will get back to you soon....</h5>
	<a href="<%=root_path %>">Go Back </a>
	</center>
</div>