
<select class="multipleSelect"  name="city_id" id='city_id' style="width:200px; font-size: 20px;" onchange="change_city()">
	<option></option>
	 <% @city.each do |c| %>
			<option value="<%=c.id %>"><%= c.name %></option>
	 <% end %> 
</select>
<select id='area_id' name="area_id" class="multipleSelect" style=" width:200px;">  
	
</select>
