 <% if ref_obj.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(ref_obj.errors.count, "error") %> 
    </h2>
      <ul>
      <% ref_obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>