<!%= autocomplete_field_tag 'city', '', autocomplete_city_name_homes_path%>
<!%= javascript_include_tag "get_area_from_city.js" %>
<%= render "shared/ajax_call_area" %>
<script >	
	$( document ).ready(function() {
    	 $(".select2-selection--single").css('height', '37px')
 	});
</script>
<div class="jumbotron" style="text-align:center">
 	<h1 class="tag_line"> Order delicious food online!</h1>
 	<h4 class="tag_line">
		Order food online from the best restaurants near you
	</h4><br/><br/> 
	<form  action="<%=hotel_list_homes_path %>">
	<%= render "shared/city_dependancy" %>
	<input type="submit" class="btn btn-success btn-lg" value="Find Restaurant">
	</form>
</div>

