 <% @areas.each do |area| %>
  <tr>
  	<td><%= area.name %></td>   
    <td><%= area.pincode %></td>       
    <td><%= link_to '', edit_city_area_path(@city,area, format: 'js'), remote:true, class: "fa fa-edit" %></td>
    <td><%= link_to "", city_area_delete_path(@city,area), remote: true, class: "fa fa-times delete_icon" %>
    </td>
  </tr>
<% end %>