
<%= form_for @city, remote: true, html: { style: "display:inline;" } do |f| %>	
	  	<div class="form-group">	       
	        <%= f.label :City_Name, class:"control-label col-sm-1", style:"padding-right: 13px;" %>
	        <div class="col-xs-5">   
			   <%= f.text_field :name, class:"form-control" %>
			</div>
			<div class="col-xs-5">   
			   <div class="actions">
				<%= f.submit "Save", class: 'btn btn-outline btn-success' %>
				</div>
			</div>
		</div><br/><br/>
	
<% end %>
