<%= render'shared/error_messages', ref_obj: @city %>
<div class="container"> 
  <br/> 
  <ul id="ul_errors"></ul> 
  <div class="new-city">
    <%= render 'form' %>
  </div> 
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>City Name</th>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody class="city-index">
      <%= render "index" %>
    </tbody>
  </table>
  <div id="city-modal" class="modal fade"></div>
</div>
