<ol class = "breadcrumb">
   <li><a href ="<%=root_path %>">Home</a></li>
   <li><a href = "">Restaurants </a></li>
   <li>Update Restaurant</li>
</ol>
<%= render'shared/error_messages', ref_obj: @hotel %>
<%= render 'form' %>
<!%= link_to 'Show', @hotel %> 

